<div class="row">
        <div class="col-xs-2 ">
        </div>
        <div class="col-xs-8 align-items-center">
          <h3>Suppose you are selecting a house. You want a house that is simultaneously of suitable quality and suitable location.</h3>
          <ul>
          	
  			<li>The QUALITY column contains the degree of satisfaction with the quality of constuction of the house.</li>
  			<li>The LOCATION column contains the degree of satisfaction with the quality of location of the house. </li>
        <li>Consider that QUALITY and LOCATION are equally important for you.</li>
        <li>It is NOT acceptable to have even the highest QUALITY home in an unacceptable LOCATION</li>
        	 <li>It is NOT acceptable to have a home in the best LOCATION with unacceptable QUALITY</li>
        <li>Please carefully select your overall degree of satisfaction with each QUALITY/LOCATION combination</li>
        <li>You may select any value in the overall satisfaction menu</li>
		  </ul>
         

        </div>
    </div>