

<div class="site-wrapper">

<div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">QUALITY</th>
      <th scope="col">LOCATION</th>
      <th scope="col">OVERALL SATISFACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Poor</td>
      <td>Good</td>
      <td>
        <select class="selectpicker" name="response[r22]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above poor</option>
          <option  style="background: #5cb85c; color: #fff;">Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Good</td>
      <td>Poor</td>
      <td>
        <select class="selectpicker" name="response[r26]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above poor</option>
          <option  style="background: #5cb85c; color: #fff;">Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Very Poor</td>
      <td>Very Good</td>
      <td>
        <select class="selectpicker" name="response[r21]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above poor</option>
          <option  style="background: #5cb85c; color: #fff;">Poor</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below poor</option>
          <option style="background: #5cb85c; color: #fff;">Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>

      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Inadequate</td>
      <td>Very Poor</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option>Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option >Average</option>
          <option >Slightly below average</option>
          <option >Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option style="background: #5cb85c; color: #fff;">Very poor</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above inadequate</option>
          <option style="background: #5cb85c; color: #fff;">Inadequate</option>
        </select>
        
      </td>
     </tr>
      <tr>
      <th scope="row">5</th>
      <td>Average</td>
      <td>Below Average</td>
      <td>
         <select class="selectpicker" name="response[r28]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option>Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Very Good</td>
      <td>Excellent</td>
      <td>
         <select class="selectpicker" name="response[r42]">
          <option>-</option>
          <option style="background: #5cb85c; color: #fff;">Perfect</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option>Slightly above good</option>
          <option>Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option>Average</option>
          <option>Slightly below average</option>
          <option >Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
     </tr>
     <tr>
      <th scope="row">7</th>
      <td>Good</td>
      <td>Good</td>
      <td>
        <select class="selectpicker" name="response[r11]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option>Average</option>
          <option>Slightly below average</option>
          <option>Below average</option>
          <option>Slightly above poor</option>
          <option>Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>

      </td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Excellent</td>
      <td>Good</td>
      <td>
        <select class="selectpicker" name="response[r51]">
          <option>-</option>
          <option style="background: #5cb85c; color: #fff;">Perfect</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option >Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option>Average</option>
          <option>Slightly below average</option>
          <option >Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
        

      </td>
</tr>
 <tr>
      <th scope="row">9</th>
      <td>Inadequate</td>
      <td>Perfect</td>
      <td>
        <select class="selectpicker" name="response[r31]">
          <option>-</option>
          <option style="background: #5cb85c; color: #fff;">Perfect</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above poor</option>
          <option  style="background: #5cb85c; color: #fff;">Poor</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below poor</option>
          <option style="background: #5cb85c; color: #fff;">Very poor</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above inadequate</option>
          <option style="background: #5cb85c; color: #fff;">Inadequate</option>
        </select>
      </td>
    </tr>
    <tr>

      <th scope="row">10</th>
      <td>Perfect</td>
      <td>Inadequate</td>
      <td>
         <select class="selectpicker" name="response[r32]">
          <option>-</option>
          <option style="background: #5cb85c; color: #fff;">Perfect</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above poor</option>
          <option  style="background: #5cb85c; color: #fff;">Poor</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below poor</option>
          <option style="background: #5cb85c; color: #fff;">Very poor</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above inadequate</option>
          <option style="background: #5cb85c; color: #fff;">Inadequate</option>
        </select>
      </td>
    </tr>
     <tr>
      <th scope="row">11</th>
      <td>Very Good</td>
      <td>Very Poor</td>
      <td>
        <select class="selectpicker" name="response[r25]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above poor</option>
          <option  style="background: #5cb85c; color: #fff;">Poor</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below poor</option>
          <option style="background: #5cb85c; color: #fff;">Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
    </tr>
     <tr>
      <th scope="row">12</th>
      <td>Poor</td>
      <td>Poor</td>

      <td>
       <select class="selectpicker" name="response[r13]">
        <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option >Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option>Average</option>
          <option>Slightly below average</option>
          <option>Below average</option>
          <option>Slightly above poor</option>
          <option  style="background: #5cb85c; color: #fff;">Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>


      </td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Below Average</td>
      <td>Above Average</td>
      <td>
        <select class="selectpicker" name="response[r23]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option>Good</option>
          <option>Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
    </tr>
     <tr>
      <th scope="row">14</th>
      <td>Very Good</td>
      <td>Average</td>
      <td>
         <select class="selectpicker" name="response[r51]">
          <option>-</option>
          <option >Perfect</option>
          <option>Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option>Slightly below average</option>
          <option >Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
     </tr>
      <tr>
      <th scope="row">15</th>
      <td>Good</td>
      <td>Below Average</td>
      <td>
        <select class="selectpicker" name="response[r51]">
          <option>-</option>
          <option style="background: #5cb85c; color: #fff;">Perfect</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option>Slightly above good</option>
          <option>Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option>Average</option>
          <option>Slightly below average</option>
          <option >Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
     </tr>
      <tr>
      <th scope="row">16</th>
      <td>Average</td>
      <td>Above Average</td>
      <td>
         <select class="selectpicker" name="response[r24]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option>Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
        
      </td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Above Average</td>
      <td>Below Average</td>
      <td>
         <select class="selectpicker" name="response[r27]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option>Good</option>
          <option>Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below average</option>
          <option style="background: #5cb85c; color: #fff;">Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Very Good</td>
      <td>Above Average</td>
      <td>
        <select class="selectpicker" name="response[r51]">
          <option>-</option>
          <option >Perfect</option>
          <option>Slightly below perfect</option>
          <option style="background: #5cb85c; color: #fff;">Very good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly above good</option>
          <option style="background: #5cb85c; color: #fff;">Good</option>
          <option style="background: #5cb85c; color: #fff;">Slightly below good</option>
          <option style="background: #5cb85c; color: #fff;">Above average</option>
          <option>Slightly above average</option> 
          <option>Average</option>
          <option>Slightly below average</option>
          <option >Below average</option>
          <option>Slightly above poor</option>
          <option >Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>
      </td>
     </tr>
      <tr>
      <th scope="row">19</th>
      <td>Average</td>
      <td>Average</td>
      <td>
        <select class="selectpicker" name="response[r12]">
          <option>-</option>
          <option>Perfect</option>
          <option>Slightly below perfect</option>
          <option>Very good</option>
          <option>Slightly above good</option>
          <option >Good</option>
          <option>Slightly below good</option>
          <option>Above average</option>
          <option>Slightly above average</option> 
          <option style="background: #5cb85c; color: #fff;">Average</option>
          <option>Slightly below average</option>
          <option>Below average</option>
          <option>Slightly above poor</option>
          <option>Poor</option>
          <option>Slightly below poor</option>
          <option>Very poor</option>
          <option>Slightly above inadequate</option>
          <option>Inadequate</option>
        </select>

      </td>
    </tr>
    
  </tbody>
</table>
<style>



th{
  text-align: center;
}

  </style>

  <div class="actions lead">
    <%= link_to 'Done', done_index_url, class: 'btn btn-lg btn-secondary' %>
  </div>
         

        </div>


</div>






<style>

h3{
	text-align: center;
}
body {
 
  text-align: left;
}

.align-items-center{

border: 1px solid black;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	padding-top: 50px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
</style>