<div class="row">
        <div class="col-xs-2 ">
        </div>
        <div class="col-xs-8 align-items-center">
          <h3>Suppose you are selecting a house. You want a house that is simultaneously of suitable quality and suitable location.</h3>
          <ul>
            
        <li>The QUALITY row contains the degree of satisfaction with the quality of constuction of the house.</li>
        <li>The LOCATION row contains the degree of satisfaction with the quality of location of the house. </li>
        <li>Consider that QUALITY and LOCATION are equally important for you.</li>
        <li>It is NOT acceptable to have even the highest QUALITY home in an unacceptable LOCATION</li>
           <li>It is NOT acceptable to have a home in the best LOCATION with unacceptable QUALITY</li>
        <li>Please carefully select your overall degree of satisfaction with each QUALITY/LOCATION combination</li>
        <li>You may select any value in the overall satisfaction menu</li>
      </ul>
         

        </div>
    </div>
<div class="site-wrapper">

<div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col"></th>
     
      <th scope="col">Visual</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>

     <td>

      <p style="position:relative; top:7px;">LOCATION</p>
      <p style="position:relative; top:7px;">QUALITY</p>
      <p style="position:relative; top:7px;">SATISFACTION</p>
     </td>
      <td>

     
      <p style="position:relative; top:40px;">Less</p>
      
     </td>
      <td>
   <table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors" class="" name="attribute_pa_available-colors" data-attribute_name="attribute_pa_available-colors">
          <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>
          <option value="red" class="attached enabled" selected="selected" disabled="disabled">Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled">Black</option>
          <option value="white" class="attached enabled" >Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors" class="textcolor"></label>
      </td>

      <td class="value">
        <select id="pa_available-colors1" class="" >
         <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
<tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors2" >
         <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
        </select>
      </td>
      
    </tr>
  </tbody>
</table>

        
      </td>
      <td>

     
       <p style="position:relative; top:40px;">MORE</p>
      
     </td>
    </tr>
    <tr>
      <th scope="row">2</th>

     <td>

      <p style="position:relative; top:7px;">LOCATION</p>
      <p style="position:relative; top:7px;">QUALITY</p>
      <p style="position:relative; top:7px;">SATISFACTION</p>
     </td>
     <td>

     
     <p style="position:relative; top:40px;">Less</p>
      
     </td>
      <td>
   <table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors3" class="" name="attribute_pa_available-colors" data-attribute_name="attribute_pa_available-colors">
          <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled">Black</option>
          <option value="white" class="attached enabled" >Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors" class="textcolor"></label>
      </td>

      <td class="value">
        <select id="pa_available-colors4" class="" >
         <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
<tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors5" >
         <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
        </select>
      </td>
      
    </tr>
  </tbody>
</table>

        
      </td>
      <td>

     
       <p style="position:relative; top:40px;">MORE</p>
      
     </td>

    </tr>
    <tr>
      <th scope="row">3</th>

     <td>

      <p style="position:relative; top:7px;">LOCATION</p>
      <p style="position:relative; top:7px;">QUALITY</p>
      <p style="position:relative; top:7px;">SATISFACTION</p>
     </td>
     <td>

     
      <p style="position:relative; top:40px;">Less</p>
      
     </td>
      <td>
   <table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors6" >
          <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled">Black</option>
          <option value="white" class="attached enabled" >Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors" class="textcolor"></label>
      </td>

      <td class="value">
        <select id="pa_available-colors7" class="" >
         <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
<tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors8" >
         <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
        </select>
      </td>
      
       
    </tr>
  </tbody>
</table>

        
      </td>
      <td>

     
       <p style="position:relative; top:40px;">MORE</p>
      
     </td>
    </tr>
    <tr>
      <th scope="row">4</th>

     <td>

      <p style="position:relative; top:7px;">LOCATION</p>
      <p style="position:relative; top:7px;">QUALITY</p>
      <p style="position:relative; top:7px;">SATISFACTION</p>
     </td>
     <td>

     
      <p style="position:relative; top:40px;">Less</p>
      
     </td>
      <td>
   <table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors9" class="" name="attribute_pa_available-colors" data-attribute_name="attribute_pa_available-colors">
          <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled">Black</option>
          <option value="white" class="attached enabled" >Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors" class="textcolor"></label>
      </td>

      <td class="value">
        <select id="pa_available-colors10" class="" >
         <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
<tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors11" >
         <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
        </select>
      </td>
    </tr>
  </tbody>
</table>

        
      </td>
      <td>

     
       <p style="position:relative; top:40px;">MORE</p>
      
     </td>
    </tr>
    <tr>
      <th scope="row">5</th>

     <td>

      <p style="position:relative; top:7px;">LOCATION</p>
      <p style="position:relative; top:7px;">QUALITY</p>
      <p style="position:relative; top:7px;">SATISFACTION</p>
     </td>
     <td>

     
      <p style="position:relative; top:40px;">Less</p>
      
     </td>
      <td>
   <table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors12" class="" name="attribute_pa_available-colors" data-attribute_name="attribute_pa_available-colors">
          <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>
          <option value="white" class="attached enabled" selected="selected" disabled="disabled">Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled">Black</option>
          <option value="white" class="attached enabled" >Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
  <tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors" class="textcolor"></label>
      </td>

      <td class="value">
        <select id="pa_available-colors13" class="" >
         <option value="" selected="selected">Choose an option</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>
          <option value="white" class="attached enabled" >Black</option>

          <option value="white" class="attached enabled">White</option>
          <option value="white" class="attached enabled">Red</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
          <option value="red" class="attached enabled" selected="selected">Black</option>
          <option value="white" class="attached enabled" selected="selected">Black</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<table class="variations" cellspacing="0">
<tbody>
    <tr>
      <td class="label">
        <label for="pa_available-colors"></label>
      </td>
      <td class="value">
        <select id="pa_available-colors14" >
         <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled">Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
           <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          <option value="black" class="attached enabled" >Black</option>
          
        </select>
      </td>
    </tr>
  </tbody>
</table>

        
      </td>
      <td>

     
       <p style="position:relative; top:40px;">MORE</p>
      
     </td>
    </tr>
    
    
  </tbody>
</table>
<style>



th{
  text-align: center;
}

  </style>

  <div class="actions lead">
    <%= link_to 'Done', done_index_url, class: 'btn btn-lg btn-secondary' %>
  </div>
         

        </div>


</div>

<script>
  $('#pa_available-colors').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors1').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors2').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors3').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors4').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors5').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors6').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors7').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors8').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors9').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors10').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors11').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors12').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors13').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});
  $('#pa_available-colors14').each(function(i, select) {
  var $colors = $(select);
  $colors.find('option').each(function(j, option) {
    var $option = $(option);
    var $radio = $('<input type="radio" />');
    $radio.attr('name', $colors.attr('name')).attr('value', $option.val());
    if ($option.attr('selected')) $radio.attr('checked', 'checked');
    $colors.before($radio);
    $colors.before(
      $("<label />").attr('for', $colors.attr('name')).text($option.text())
    );
  });
  $colors.remove();
});

</script>




<style>
/* You could choose to override all browser styles on all your inputs, but I prefer explicit classes */
body {
  background: #fff;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: #444;
}


/* GET RID OF LABELS */

.value label {
  display: none;
}


/* STYLE LABEL TD  */

td.label {
  font-weight: 700;
  padding-right: 1em;
}


/* STYLE VALUE RADIO TD */

.value::before {
  /* content: 'Colour'; */
  display: block;
  float: left;
  margin: 10px 15px 0 0;
}


/* RADIO */

.value input[type="radio"] {
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;

}


/* HIDE THE FIRST RADIO GENERATED FROM SELECT OPTIONS */

.value input[type="radio"]:first-child {
  display: none;
}


/* TOP COLOR BLOCK */

input[type="radio"]:before {

  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  border: 1px solid #dddddd;
  z-index: 2;
}


/* BG COLOR BLOCK */

input[type="radio"]:after {
  border: 1px solid #dddddd;
  background: #fff;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  z-index: 1;
}


/* HOVER */

input[type="radio"]:hover:after {
  /* border-color: #000; */
  background: black;
}


/* CHECKED STATES */

.value input[type="radio"]:checked:after {
  //border: 1px solid #000;
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-color: black;
  background: red;
}

.value input[type="radio"]:checked:hover:after {
  background: black;
}


/* COLORED ATTRIBUTES */

.value input[type="radio"][value="black"]:before {
  
}

.value input[type="radio"][value="white"]:before {
 background: white;
}

.value input[type="radio"][value="red"]:before {
  background: red;
}


h3{
  text-align: center;
}


.align-items-center{

border: 1px solid black;

}
.textcolor{
  color: black;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  padding-top: 50px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
</style>